.gsap-stack-container {
	position: relative;
	width: 100%;
}

.gsap-stack-inner {
	position: relative;
}

.gsap-stack-card {
	position: relative;
	max-width: 80rem; /* max-w-7xl */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	transform-origin: top center;
	will-change: transform;
}

@media (min-width: 768px) {
	.gsap-stack-card {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.gsap-stack-card:last-of-type {
	margin-bottom: 0;
}

.gsap-stack-card-inner {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	overflow: hidden;
}

.gsap-stack-end {
	height: 1px;
	width: 100%;
}
